img {
	width: 100%;
	height: 100%;
}

#racks {
	border: 1px solid black;
	position: relative;
	left: 5px;
	top: 110px;
	width: 270px;
}

#racks div {
	margin: 2px;
	text-align: center;
}

#select-ci {
	margin: 5px;
}

#view_cabinet {
	margin-left: auto;
	margin-right: auto;
	width: 10em
}

.clickable-div {
	background-color: #FFFFFF;
	border: 1px solid black;
}

.clickable-div:hover {
	cursor: pointer;
	opacity: 0.8;
}

.col-md-10 {
	background-image: url("../img/server.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.controls {
	margin: 1em auto;
}

.div_controls {
	text-align: center;
}

.error {
	color: red;
	display: none;
}

.grid {
	margin: 1em auto;
	border-collapse: collapse
}

.grid td {
	cursor: pointer;
	width: 30px;
	height: 30px;
	border: 1px solid #ccc;
	text-align: center;
	font-family: sans-serif;
	font-size: 13px
}

.grid td.clicked {
	border: solid;
}

.grid td.grayed {
	background-color: #A5A5A5;
}

.number-cells {
	width: 65px;
}

.second-row {
	height: 25px;
}
